/* variables */
:root{
    --primary-color:#984063;
    --font-size-p: 1.6rem;
    --font-size-h2: 3rem;
    --font-size-h3: 2rem;
    --line-border-color: #dddfe5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Original Surfer', cursive;
}

html{
    font-size: 65.2%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    font-family: 'Roboto', sans-serif;
}
/* estilos para el header */

.nav{
    padding: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.329);
}
.nav .nav-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}
.nav-menu li{
    width: max-content;
}
.menu-item{
    padding: 7px 25px;
    margin: 0 15px;
    color: black;
    font-size: 2rem;
}
.menu-item:hover{
    background-color: #984063;
    border-radius: 20px;
    color: white;
}

.menu-item.nav-contacto{
    background-color: #984063;
    border-radius: 20px;
    color: white;
}

.nav-contacto:hover{
    color: black;
    background-color:#984063a1 ;
}

/* esto es para el menu responsivo */
.menu-tootgle{
    display: none;
}

/* estilos parte 1 seccion de hola */
main .section-hello{
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10rem 5rem;
    margin: 25px;
/*     min-height: 90vh; */
}
main .section-hello-presentation{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
main .section-hello-presentation h2{
    font-size: 3rem;
    margin-bottom: 20px;
}
main .section-hello-presentation h1{
    font-size: 3.5rem;
    margin-bottom: 25px;
    color:#984063 ;
}
main .section-hello-presentation p{
    font-size: 1.6rem;
    margin-bottom: 45px;
    text-align: center;
}

main .section-hello-presentation div a{
    color: white;
    background-color:#984063;
    font-size: 2rem;
    padding: 10px 30px;
    border-radius: 25px;
}

main .section-hello-presentation div a:hover{
    color: black;
    background-color:#984063a1 ;
}
main .section-hello img{
    width:450px;
    margin-top: 50px;
}


/* seccion 2 del main en mis conocimientos */

/* estilos generales */
main .section-conocimiento{
    background-color: #f2f2f2ff;
    padding: 100px 20px;
    text-align: center;
}

main .section-conocimiento div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
main .columna{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
/* estilos especificos */
main .section-conocimiento h3{
    font-size: var(--font-size-h2);
    margin-bottom: 20px;
}
main .section-conocimiento div > p{
    font-size: var(--font-size-h3);
    margin-bottom: 20px;
}
main .section-conocimiento li > p{
    font-size: var(--font-size-p);
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Original Surfer';
}
main .section-conocimiento li{
    width: 260px;
    padding: 20px;
    margin: 15px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border:var(--line-border-color) solid;
    border-width: 2px;
}
main .section-conocimiento img{
    width: 150px;
}
main .section-conocimiento li:hover{
    border-color: var(--primary-color);
    color: var(--primary-color);
    transition-duration: 0.3s;
    cursor: pointer;
}

/* section de proyectos */

main .section-proyectos{
    background-color: var(--primary-color);
    padding: 100px 60px;
    text-align: center;
}
main .section-proyectos div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* estilos especificos */
main .section-proyectos h3{
    font-size: var(--font-size-h2);
    margin-bottom: 20px;
}
main .section-proyectos div > p{
    font-size: var(--font-size-h3);
    margin-bottom: 20px;
}
main .section-proyectos li > p{
    font-size: var(--font-size-p);
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Original Surfer';
}
main .section-proyectos li{
    width: 300px;
    padding: 20px;
    margin: 15px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: #3f3d56ff solid;
    border-width: 2px;
}
main .section-proyectos img{
    width: 200px;
}
main .section-proyectos li:hover{
    border-color: #f2f2f2ff;
    color: var(--primary-color);
    transition-duration: 0.3s;
    cursor: pointer;
}


/* seccion de contacto  */

main .section-contacto{
    background-color: #f2f2f2ff;
    padding: 70px 60px;

}
main .main-section-contacto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 70px 40px;
    background-color: white;
}
main .section-contacto-Contactame{
   width: 40%;
    min-width: 200px;
    margin-right: 50px;

}

main .section-contacto-Contactame h3{
    margin-bottom: 40px;
    font-size: var(--font-size-h2);
}
main .section-contacto-Contactame p{
    font-size: 1.6rem;
    margin: 0px 20px 10px 0px;
}
main .Social-media-container{ 
    /* display: flex;
    flex-direction: column; */
    /* flex-wrap: wrap; */
    margin: 40px 0px;
}
main .Social-media-container li{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    margin: 10px;
}
main .Social-media-container li a{
    display: flex;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
}
main .Social-media-container li a:hover{
    color: var(--primary-color);
    text-decoration: underline;
}
main .Social-media-container a i{
    margin-right: 5px;
    align-self: center;
}
/* seccion del formulario */
.form-container{
    width: 50%;
}
.title-form{
    margin-bottom: 40px;
    font-size: var(--font-size-h2);
}
.flex-form{
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
.flex{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.info-container{
    font-size: 18px;
    margin-bottom: 15px;
}
.info-container label{
    margin-left: 10px;
}
.info-container input{
    margin-top: 10px;
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #f2f2f2ff;
    font-family: 'Roboto', sans-serif;
}
.email-container{
    margin-bottom: 30px;
}
.email-container input{
    width: 100%;
}
.mss-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.mss-container label{
    margin-bottom: 10px;
}
.mss-container textarea{
    padding: 15px;
    margin-bottom:20px ;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #f2f2f2ff;
}
.mss-container button{
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: var(--primary-color);
    align-self: flex-start;
    font-size: 18px;
}
::placeholder{
    font-family: 'Roboto', sans-serif;
}
.mss-container button:hover{
    background-color:#984063a1;
    cursor: pointer;
}
/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px;
    font-size: var(--font-size-p);
    
    background-color: var(--primary-color);
}
.redes-icons{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    width: 300px;
    margin-bottom: 20px;
}
.redes-icons .circulo-redes {
    background-color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 15px;
    transition-duration: 0.3s;
    color: var(--primary-color);
    border: 1px solid #fff;
}
.redes-icons .circulo-redes:hover{
    background-color: var(--primary-color);
    color: white;
}
.msm-footer{
    font-family: 'Original Surfer', cursive;
    text-align: center;
}